<form name="envio_correo" method="post" action="mailto:roberto.moore@virginiogomez.cl">
    <title>Envio de correo</title>
     <p>Bienvenido al Formulario de envio de correo</p>
    <br>
    <br>
    Ingrese su nombre.
    <br>
<label for="nombre">Nombre: </label><input type="text" name="nombre" id="nombre"><br />
    <br>
    Ingrese su Email.
    <br>
<label for="email">Email: </label><input type="text" name="nombre" id="email"><br />
    <br>
    Escriba el Mensaje.
    <br>
<textarea id="opinion" name="opinion"></textarea><br />
<input type="submit" name="Submit" value="Enviar">
</form>