<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Pacientes</title>
    <p>Bienvenido al Formulario de Registro de Pacientes</p>
</head>
<body>
 <form method="POST" action="">{% csrf_token %}
     {{ formulario.as_p}}
    <input type="submit" value="Guardar">
    </form>
</body>
</html>