<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Fichas</title>
    <p>Bienvenido al Formulario de Registro de Fichas</p>
</head>
<body>
 <form method="POST" action="">{% csrf_token %}
     {{ formulario_fichas.as_p}}
    <input type="submit" value="Guardar">
     <input type="reset" value="Eliminar">
    </form>
</body>
</html>